# --------- Data --------- #
pandas
scipy
scikit-learn
termcolor
nltk

# --------- Recommend --------- #
fashion-clip
opencv-python-headless
numpy
torch
seaborn
torchvision
scikit-learn
lmdb
tensorboardX
icecream
snoop
rembg
albumentations
omegaconf

# --------- UI & API --------- #
streamlit
fastapi
uvicorn
